html {
    font-family: "Montserrat", sans-serif;
}

body{
	background-image: url(backgrounfd3.jpg);
	background-repeat: no-repeat;
    background-size: cover;
	/* background-attachment: fixed; */
}

.title {
	color: black;
    font-size: 145px;
    font-weight: bold;
}

.title span {
    align-items: center;
}

.title img{
    width: 110px;
    height: 110px;
}

.eco{
padding-top: 100px;
}

.navigation ul{
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation ul li{
	float: left;
	border-right: 1px solid black;
	position: relative;

}

.navigation ul li a{
	display: inline-block;
	padding: 20px 30px;
	background: black;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 15px;

}

.navigation ul li a:hover{
	background: gray;
}

.container {
	margin-bottom: 20px;
	background-color: black;
	width: 50%;
	height: 300px;
	clip-path: polygon(0% 0%, 0% 100%, 10% 100%, 10% 16%, 90% 15%, 90% 85%, 10% 84%, 10% 100%, 100% 100%, 100% 0%);
}