html {
    font-family: "Montserrat", sans-serif;
}

body{
	padding-left: 3%;
	background-image: url(5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/* background-attachment: fixed; */
}

.title {
	padding-bottom: 20px;
	text-shadow:7px 7px 10px #99f5be;
	color:#407663;
    font-size: 145px;
    font-weight: bold;
}
.title img{
	position: relative;
	left: 15px;
	border-radius: 50%;
	top:15px;
    width: 130px;
    height: 130px;
}

.navigation ul{
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation ul li{
	float: left;
	border-right: 1px solid #99f5be;
	position: relative;

}

.navigation ul li a{
	display: inline-block;
	padding: 20px 30px;
	background: #407663;
	color: #f5af99;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;

}

.navigation ul li a:hover{
	background: #99f5be;
}

/* .container {
	margin-bottom: 20px;
	background-color: #407663;
	width: 50%;
	height: 300px;
	clip-path: polygon(0% 0%, 0% 100%, 10% 100%, 10% 16%, 90% 15%, 90% 85%, 10% 84%, 10% 100%, 100% 100%, 100% 0%);
} */
.intro {
	font-weight: 400;
	color: #e7fff7;
	text-shadow:0px 0px 10px #ab7b6b;
	padding-left: 0%;
	padding-top: 75px;
	font-size: 80px;
	width: 60%;
}